html,
body {
  height: 100%;
  font-size: 10px;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--white-color);
}

main {
  display: flex;
  width: 100%;
  height: 100%;
}

section {
  display: flex;
  width: 100%;
  flex-direction: row;
}

a {
  text-decoration: none;
  color: var(--logo-color);
}

input[type="text"] {
  border: 0;
}
