<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <div class="home__LOGO">
            <a href="/">Groo</a>
        </div>
    </header>
    <main>
        <section>
            <form action="" method="post">
                <div class="habit__list">
                    <input type="button" value="장바구니 사용하기"> 
                    <input type="button" value="손수건 사용하기"> 
                    <input type="button" value="텀블러 사용하기"> 
                    <input type="button" value="플러그 뽑아 두기"> 
                    <input type="button" value="친환경 제품 사기"> 
                    <input type="button" value="천연 세제 사용하기"> 
                </div>
                <input type="submit" value="확인"> 
            </form>

        </section>

        <aside>
            <div>
                <img src="" href="/detail">
            </div>
            <ul>
                <li>Detail</li>
                <li>Information</li>
            </ul>
        </aside>
    </main>

</body>
</html>