<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="assets/css/style.css" />
    <script defer src="node_modules/@fortawesome/fontawesome-free/js/brands.js"></script>
    <script defer src="node_modules/@fortawesome/fontawesome-free/js/solid.js"></script>
    <script defer src="node_modules/@fortawesome/fontawesome-free/js/fontawesome.js"></script>
    <title>Groo</title>
</head>
<body>
    <header>
        <div class="header__container">
            <a href="/" class="header__LOGO">Groo</a>
            <button class="header__menubar">
                <i class="fas fa-bars"></i>
            </button>
        </div>
    </header>
    <main>
        <section>
            <form class="firstvisit none">
                <input type="text" placeholder="What your name?"/>
            </form>
            <div class="userConfirmation none">
                <div class="home__habit__list">
                    <form action="" method="post">
                        <div class="load__habit__list">

                        </div>
                        <input type="image" src="view/img/bucket.png" alt="제출버튼">
                    </form>
                </div>
                <div class="tree__container">
                    <a href="" class="tree__message">나의 아이를 위해 나무를 키워야지 </a>
                    <img src="view/img/tree.png" alt="">
                    <h2>20 Groo</h2>
                </div>
            </div>
        

        </section>

        <aside class="sidebar__container none">
            <div class="sidebar__profile">
                <img src="" href="/detail.html" class="user__profile">
                <h4> 오늘 10번 물을 주셨네요.</h4>
            </div>
            <ul class="sidebar__page">
                <li>
                    <a href="/detail" class="sidebar__detail">Detail</a>
                </li>
                <li>
                    <a href="" class="sidebar__info">Information</a>
                </li>
            </ul>
        </aside>
    </main>
<script type="module" src="assets/js/home.js"></script>
</body>
</html>